In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('data_format2/train_format2.csv')

In [4]:
train.columns

Index(['user_id', 'age_range', 'gender', 'merchant_id', 'label',
       'activity_log'],
      dtype='object')

In [7]:
train1 = pd.read_csv('data_format1/train_format1.csv')
user_info1 = pd.read_csv('data_format1/user_info_format1.csv')

In [8]:
user_log1 = pd.read_csv('data_format1/user_log_format1.csv')

In [5]:
train1.head()

   user_id  merchant_id  label
0    34176         3906      0
1    34176          121      0
2    34176         4356      1
3    34176         2217      0
4   230784         4818      0

In [6]:
user_info1.head()

   user_id  age_range  gender
0   376517        6.0     1.0
1   234512        5.0     0.0
2   344532        5.0     0.0
3   186135        5.0     0.0
4    30230        5.0     0.0

In [11]:
user_log1.head()

   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294     833       2882    2661.0         829            0
1   328862   844400    1271       2882    2661.0         829            0
2   328862   575153    1271       2882    2661.0         829            0
3   328862   996875    1271       2882    2661.0         829            0
4   328862  1086186    1271       1253    1049.0         829            0

In [27]:
user_log1.describe()

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type
count,5.492533e+07,5.492533e+07,5.492533e+07,5.492533e+07,5.483432e+07,5.492533e+07,5.492533e+07
mean,2.121568e+05,5.538613e+05,8.770308e+02,2.470941e+03,4.153348e+03,9.230953e+02,2.854458e-01
std,1.222872e+05,3.221459e+05,4.486269e+02,1.473310e+03,2.397679e+03,1.954305e+02,8.075806e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.110000e+02,0.000000e+00
25%,1.063360e+05,2.731680e+05,5.550000e+02,1.151000e+03,2.027000e+03,7.300000e+02,0.000000e+00
50%,2.126540e+05,5.555290e+05,8.210000e+02,2.459000e+03,4.065000e+03,1.010000e+03,0.000000e+00
75%,3.177500e+05,8.306890e+05,1.252000e+03,3.760000e+03,6.196000e+03,1.109000e+03,0.000000e+00
max,4.241700e+05,1.113166e+06,1.671000e+03,4.995000e+03,8.477000e+03,1.112000e+03,3.000000e+00

In [23]:
user_log1.user_id.value_counts().to_csv('data_format1/user_id_value_counts.csv',
                                        header=['value_counts'])

In [24]:
for i in ['item_id','cat_id','seller_id','brand_id']:
    user_log1[i].value_counts().to_csv('data_format1/%s_value_counts.csv' % i,
                                        header=['value_counts'])

In [25]:
user_log1['action_type'].value_counts()

0    48550713
2     3292144
3     3005723
1       76750
Name: action_type, dtype: int64

In [15]:
user_log1[0:1000].to_csv('data_format1/user_log_format1_samples.csv', index=False)